services:
  cosmos:
    image: mcr.microsoft.com/cosmosdb/linux/azure-cosmos-emulator:vnext-EN20251223
    # image: mcr.microsoft.com/cosmosdb/linux/azure-cosmos-emulator:latest
    container_name: cosmos
    ports:
      - "8081:8081"
      - "1234:1234"
    environment:
      - AZURE_COSMOS_EMULATOR_PARTITION_COUNT=10
      - AZURE_COSMOS_EMULATOR_ENABLE_DATA_EXPLORER=True

  # Dev Container service
  dev:
    image: mcr.microsoft.com/devcontainers/python:2-3.14-trixie
    network_mode: host
    volumes:
      - .:/workspaces/azure-container-apps:cached
    command: /bin/sh -c "while sleep 1000; do :; done"
