services:
  # The Flask Application
  app:
    build: ./app
    container_name: aca_app
    ports:
      - "8080:8080"
    environment:
      - COSMOS_ENDPOINT=https://cosmos_local:8081
      - COSMOS_KEY=C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==
      - PYTHONHTTPSVERIFY=0 # Disable SSL check for local emulator
    depends_on:
      cosmos-emulator:
        condition: service_healthy

  # Cosmos DB Emulator
  cosmos-emulator:
    image: mcr.microsoft.com/cosmosdb/linux/azure-cosmos-emulator
    container_name: cosmos_local
    hostname: cosmos_local
    ports:
      - "8081:8081"
      - "1234:1234"
    environment:
      - AZURE_COSMOS_EMULATOR_PARTITION_COUNT=10
      - AZURE_COSMOS_EMULATOR_ENABLE_DATA_EXPLORER=True
    healthcheck:
      test: ["CMD", "curl", "-k", "https://localhost:8081/_explorer/emulator.pem"]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 30s

  # Dev Container service
  dev:
    image: mcr.microsoft.com/devcontainers/python:1-3.11-bullseye
    volumes:
      - .:/workspaces/azure-container-apps:cached
    network_mode: service:app
    command: /bin/sh -c "while sleep 1000; do :; done"
